<article class="media">
  <div class="media-left">
    <figure class="image is-64x64">
      <%= image_tag "me.png", alt: "Jeremy W. Rowe", class: 'round-image' %>
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Jeremy W. Rowe</strong>
        <br>
        Software Developer
        <br>
        Avid Mountain Biker
      </p>
    </div>
  </div>
</article>
