<article class="media has-centered-items">
  <div class="media-left">
    <figure class="image is-<%= size %>">
      <%= image_tag avatar.url, alt: avatar.name, class: 'round-image' %>
    </figure>
  </div>
  <div class="media-content">
    <div class="content">
      <p>
        <strong><%= avatar.name %></strong>
        <% avatar.blurbs.each do |blurb| %>
          <br>
          <%= blurb %>
        <% end %>
      </p>
    </div>
  </div>
</article>
