<section class="section">
  <div class="container">
    <nav class="level">
      <div class="level-item has-text-centered bounceIn">
        <article class="media">
          <div class="media-left">
            <figure class="image is-64x64">
              <%= image_tag "me.png", alt: "Jeremy W. Rowe", class: 'round-image' %>
            </figure>
          </div>
          <div class="media-content">
            <div class="content">
              <p>
                <strong>Jeremy W. Rowe</strong>
                <br>
                Software Developer
                <br>
                Avid Mountain Biker
              </p>
            </div>
          </div>
        </article>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">E-Mail</p>
          <p class="title"><a href="mailto:jeremy.w.rowe@gmail.com"><i class="fas fa-at"></i></a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Github</p>
          <p class="title"><a target="_blank" href="https://github.com/jeremywrowe"><i class="fab fa-github"></i></a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Linked-In</p>
          <p class="title"><a target="_blank" href="https://www.linkedin.com/in/jeremywrowe"><i class="fab fa-linkedin"></i></a></p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Twitter</p>
          <p class="title"><a target="_blank" href="https://twitter.com/jeremy_w_rowe"><i class="fab fa-twitter"></i></a></p>
        </div>
      </div>
    </nav>
  </div>
</section>

<section class="hero is-medium is-info is-bold">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            TL;DR <i class="far fa-hourglass small"></i>
          </h1>
          <h2 class="subtitle">
            (the short and sweet)
          </h2>
        </div>
        <div class="column is-two-thirds">
          <p>
            I am a developer that loves to help grow products and teams. I've built applications of differing scales, languages, and domains.
            My favorite place to be is in uncharted territory, and I typically write automated tests to get myself out of sticky situations.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

